@font-face {
    font-family: myFirstFont;
    src: url('Pokemon\ Solid.ttf');
  }
body{
    font-family: myFirstFont;
    font-size: x-small;
}
h1{
    text-align: center;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    width: 60%;
    float:left;
}
img{
    width:100%;
    padding: 0%;
    margin: 0%;
    opacity: .2;
}
figure{
    display: block;
    float: left;
    width: 15%;
    margin:3%;
}
figcaption{
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#list{
    width: 25%;
    padding-top: 5%;
    float:right;
}
#list figure{
    float:none;
    width: 45%;
}
#list figure img{
    opacity: 1;
}